---
import { Image } from "astro:assets";
import bgPattern from '../images/bg-pattern-mobile-nav.svg'

const navLinks = [
    {
        label: 'HOW WE WORK',
        link: '#'
    },
    {
        label: 'BLOG',
        link: '#'
    },
    {
        label: 'ACCOUNT',
        link: '#'
    },
]
---

<nav id="mobile-menu" class="hidden absolute md:hidden top-[80px] w-full min-h-screen left-0 bg-primary pt-10 px-6 overflow-hidden bg-mobile-menu bg-no-repeat bg-bottom bg-contain animate__animated animate__fadeInDown animate__duration-1s z-20">
    <ul class="text-white text-xl font-bold leading-10 tracking-[1.364px] flex flex-col gap-6 items-center uppercase">
        {
            navLinks.map(item => (
                <li>
                    <a class="" href={item.link}>{item.label}</a>
                </li>
            ))
        }
        <li class="border-white border-[1.5px] w-full max-w-[327px] text-center">
            <a href="#" class="w-full pt-[17px] pb-[15.5px]">View Plans</a>
        </li>
    </ul>
</nav>
